<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Home - Trivia Game</title>
  <link rel="stylesheet" href="stylesheets/main.css">
  <link rel="stylesheet" href="stylesheets/game.css"> 

</head>

<body>
  <div class="container">
    <div id="home" class="flex-center flex-column">
      <h1>Quick Quiz</h1>
      <h2>Lets's Play <%= username %> </h2> 
      <!-- <form method=POST action='/createUser'>
        <label for="username"> Create your username </label> <br><br>
        <input type="text" name="username" placeholder="Enter a username" > 
      </form> <br> <br>  -->
      <a class="btn" href="/getApi">Play</a>
      <a class="btn" href="/scores">High Scores</a>
    </div>
  </div>
  <script src="js/game.js"> </script>

</body>

</html>